.color-bg {
    background-color: antiquewhite;
}
.color-bg2 {
    background-color: blanchedalmond;
}
.color-bg3 {
    background-color: bisque;
}
span {
    color: red;
    font-style: italic;
    font-weight:lighter;
}
.davidgoggins {
    color: red;
}