*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start first page */

body{
    animation-name: fade;
    animation-duration: 2s;
    
}
@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
    
}
.letschat-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #C4306B;
    color: white;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.letschat-btn:hover{
    background-color:#883757
}





nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
ul{
    display: flex;
    gap: 30px;
    padding-top: 25px;
    
}
li{
    list-style-type: none;
    
}

nav ul li:hover a{
    color: #C4306B !important;

}

.join-btn:hover{
    background-color: black;
    transition: 0.7s;
}
a{
    text-decoration: none !important;
    color: black !important;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold !important;
}
.brand{
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}
.brand-name{
    font-size: 25px;
    font-weight: bolder;
    margin-right: 125px !important;
}
.user-logo{
    display: flex;
    gap: 10px;
    color: #ca5c88 !important;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter !important;
}
.fa-circle-user{
    margin-top: 3px;
    
}
.join-btn{
    background-color: #C4306B;
    border: none;
    color: white;
    padding: 30px 35px;
    font-size: 15px;
    transition: 0.7s;
}


main{
    position: relative;
}
.background-area{
    background-image: url(images/firstphoto.webp);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
   
}
.intro-box{
    position: absolute;
    top: 200px !important;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}
h1{
    font-size: 110px !important;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 150px !important;
    color: white !important;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}
h3{
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-size: 35px !important;
    color: white !important;
    font-weight: bolder;

}
.second-btn{
    padding: 20px 35px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}
.second-btn:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;

}
/* //// */
.second{
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 800px;
    background-color: white;
    left: 100px;
    gap: 20px;

}
.right{
    width: 50%;
    display: flex;
    justify-content: end;
}
.text-box{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
    margin-right: 250px;
    
}
.text-box h2{
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-size: 30px;
    width: 400px;

}
.text-box p{
    font-family: 'Lato', sans-serif;
    width: 450px;
}
.text-box button{
    width: 180px;
    padding: 20px 30px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
}
.text-box button:hover{
    background-color: #C4306B;
    border: none;
    color: white;
    transition: 0.7s;
}
.leftimage{
    width: 83%;
}
/* //// */

.third{
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 1370px;
    background-color: white;
    left: 100px;
    gap: 20px;
    height: 100vh;
}
.leftside{
    width: 50%;
    display: flex;
    justify-content: end;
}

.rightimage{
    width: 90%;
}
/* //// */

.facilities{
    background-color: #C4306B;
    width: 100%;
    height: 120vh;
    margin-top: 999px;
}
.text-facilities h2{
    color: white;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    padding-top: 80px;
    padding-left: 650px;
    font-size: 30px;
}
.text-facilities p{
    width: 1000px;
    font-size: 15px;
    text-align: center;
    padding-left: 600px;
    letter-spacing: 1px;
    color: white;
    padding-top: 10px;
}
.facilities img{
    height: 70vh;
    object-fit: cover;
    width: 100% !important;
}
.carousel-item{
    width: 100% !important;
    
}
.viewall-btn{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px 40px;
    margin-top: 60px;
    margin-left: 700px;
}
.viewall-btn:hover{
    background-color: #C4306B;
    color: white;
    border: 1px solid white;
    transition: 0.7s;
}

/* //// */


footer{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;

}

.contact-info{
    display: flex;
    flex-direction: column;
    
}
.info{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.icons{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;

}

.icons i{
    font-size: 24px;
    color: black;
}
.author{
    width: 200px;
    margin-top: 100px;
}
.author a{
    color: black;
}

.middle p{
    width: 300px;
    margin-top: 15px;   
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;

}
.full-name{
    display: flex;
    gap: 15px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
input{
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
    background-color: transparent;
}
input:hover{
    border-bottom: 3px solid black;
}
label{
    font-size: 15px;
}
.text-area{
    padding: 30px 0;
}
.btnbox{
    background-color: #C4306B;
    border: none;
    padding: 15px 170px;
    border-radius: 25px;
    color: white;
}
.btnbox:hover{
    background-color: black;
    transition: 0.7s;
}

.search-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: grey !important;
    margin-top: 20px;
}

.safety{
    margin-top: 280px;
}
.fa-bars{
    display: none !important;

}
.fa-comment{
    display: none !important;
}






/* first page end */

.second-page{
    background-color: #0B7FA2;
    height: 100vh;
    padding-top: 10px;
}
.second-page h1{
    font-size: 60px !important;
    text-align: center;
    padding-top: 100px !important;
}
.second-page p{
    color: white;
    width: 600px;
    margin-left: 450px;
    font-size: 16px;
}

.whydofitness{
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 555px;
    background-color: white;
    left: 100px;
    gap: 20px;
}
.leftfit{
    width: 50%;
    display: flex;
    justify-content: end;
}
.fitnesstext{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
    margin-right: 100px;
}
.rightfit-img{
    width: 100%;
}
.forsecondpage{
    margin-top: 550px;
}
/* second page end */

/* start third page */

.trainingfloortext{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 200px;
    margin-right: 90px;
}

.lappool{
    top: 1150px;
}
.lappool-text{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
    margin-right: 90px;
}




.membersarea{
    background-color: #0B7FA2;
    margin-top: 1100px;
    height: 120vh;
}
.text-members{
    text-align: center;
    padding-top: 150px;
    margin-bottom: 90px;
}
.text-members h2{
    color: white;
}
.text-members p {
    width: 600px;
    color: white;
    margin-left: 450px;
}

/* third page end */

/* start forth page */

.services{
    background-color: #0B7FA2;
    height: 80vh;
    padding-top: 10px;
}

.services h1{
    color: white !important;
    font-size: 60px !important;
    text-align: center;
    padding-top: 100px;
}
.services p{
    color: white;
    width: 600px;
    margin-left: 450px;
    font-size: 16px;
}

.our-services{
    display: flex;
    margin-top: 150px;
    margin-left: 350px;
    border: 1px solid black;
    width: 60%;
    height: 60vh;
}
.our-services img{
    height: 60vh;
}
.services-text{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 90px;
    
}
.swim{
    font-size: 30px;
    color: black !important;
    margin-bottom: 15px;
}
.services-text button{
    width: 150px;
    border: none;
    background-color: #C4306B;
    color: white;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 25px;
    margin-top: 20px;
}
.services-text button:hover{
    opacity: 0.5;
    transition: 0.7s;
}
/* fourth page end */

/* fifth page start */

.membership{
    background-color: #0B7FA2;
    height: 99vh;
    padding-top: 180px;
    position: absolute;
    width: 100% !important;


}
.membership h1{
    font-size: 60px !important;
    text-align: center;
}
.membership p{
    color: white;
    width: 600px;
    font-size: 16px;
    text-align: center;
    margin-left: 450px;
}

.div-boxes{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 400px;
    
}

.box-silver, .box-gold, .box-platinum{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    z-index: 888;
    width: 450px;
    text-align: center;
    height: 80vh;
    margin-top: 200px;
    
    

}
.box-silver, .box-gold, .box-platinum h5{
    color: black !important;
    padding-top: 25px;

}

.box-silver h3{
    color: black !important;
    font-size: 55px !important;
    padding-top: 10px;
    
    
}

.box-silver p {
    padding-top: 15px !important;
    
}
.box-silver span{
    font-size: 10px;
    
}
.box-silver button{
    width: 300px;
    margin-left: 80px;
    padding: 10px 20px;
    margin-top: 26px;
    border: none;
    background-color: #C4306B;
    color: white;

}
.box-silver button:hover{
    opacity: 0.5;
    transition: 0.7s;
}


/* ///// */


.box-gold h3 {
    color: black !important;
    font-size: 55px !important;
    padding-top: 10px;
}
.month{
    font-size: 12px !important;
}
.box-gold p {
    font-size: 15px;
}


.box-gold span{
    font-size: 10px;
    padding-bottom: 10px !important;
}
.box-gold button{
    width: 300px;
    margin-left: 80px;
    padding: 10px 20px;
    margin-top: -1px !important;
    border: none;
    background-color: #C4306B;
    color: white;
}
.box-gold button:hover{
    opacity: 0.5;
    transition: 0.7s;
}
.benefit{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px !important;
}

/* ////// */
.box-platinum h3{
    color: black !important;
    font-size: 55px !important;
    padding-top: 10px;

}
.everymonth{
    font-size: 12px;
}
.box-platinum p{
    font-size: 15px;
}
   
.box-platinum button{
    width: 300px;
    margin-left: 80px;
    padding: 10px 20px;
    margin-top: 20px !important;
    border: none;
    background-color: #C4306B;
    color: white;
}
.box-platinum button:hover{
    opacity: 0.5;
    transition: 0.7s;
}
sup{
    font-size: 20px !important;
    vertical-align: super !important;

}

.col-md-4{
    transition: transform .2s;
    margin: 0 auto;
    transition: 0.7s;
    cursor: pointer;
}

.col-md-4:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1);
    transform: scale(1.1);
    transition: 0.7s;
}


/* login start */

.login{
    background-image: url(images/fitnesslogin.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}



.login-form{
    width: 450px;
    height: 540px;
    color: #fff;
    background: linear-gradient(#d53676 50%, #C4306B 50%);
    position: absolute;
    margin: 60px 600px;
    border-radius: 10px;
    padding: 5%;
}
.form-1{
    color: white;
    font-size: 35px !important;
    margin-top: 20px !important;
    background-color: #C4306B;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    
}

.login-form input{
    width: 98.5%;
    height: 35px;
    padding-top: 55px;
    padding-left: 5px;
    margin-bottom: 15px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;

}
::placeholder{
    color: rgb(186, 181, 181);
    
}
.btn{
    font-size: 20px !important;
    padding: 10px 15px;
    background-color: #C4306B;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold !important;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

}
.link{
    margin-top: 10px;
}

.backtohome{
    font-size: 12px;
    color: rgb(7, 7, 187) !important;
    cursor: pointer;
    text-decoration: underline !important;
}





@media screen and (max-width: 768px){
    .fa-bars{
        display: unset !important;
        font-size: 30px;
        margin-left: 420px;
    }
    .fa-comment{
        display: unsest !important;
        
    }
    
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
    ul{
        display: none;
    }
    .brand{
        display: flex;
        gap: 10px;
        
    }
    .join-btn{
        width: 450px;
         
    }
    .background-area{
        background-position: top;
        height: 100vh;
        background-attachment: unset;
    }
    
    .intro-box h1{
        font-size: 41px !important;
        padding-right: -200px;
        margin-top: 95px !important;
    }
    .intro-box h3{
        font-size: 25px !important;
        margin-left: 25px !important;
        width: 70%;
        

    }

    .second{
        margin-top: -115px !important;
        display: flex;
        flex-direction: column;
    }
   
    .leftimage{
        background: cover;
        width: 400px;
        margin-left: -50px !important;
    }
    .text-box-first{
        margin-top: 2px;
        margin-right: 25px !important;
        width: 400px;
    }
    .text-box-first h2{
        margin-left: 240px;
        font-size: 25px;

    }
    .text-box-first p{
        margin-left: 220px;
        width: 280px;
        margin-top: -25px;
        text-align: center;
    }
    .text-box-first button{
        margin-left: 270px;
        margin-top: -25px;
        font-size: 13px;
        padding: 5px;
    }
    .rightimage{
        margin-top: -55px;
        width: 400px;
        margin-right: 350px;
    }
    .second-textbox{
        margin-right: 5px;
    }
    .second-textbox h2{
        margin-top: 175px;
        margin-left: 380px !important;
        font-size: 25px;
    }
    .second-textbox p{
        margin-left: 380px;
        width: 280px;
        margin-top: -25px;
        text-align: center;
    }
    .second-textbox button{
        margin-left: 430px;
        margin-top: -25px;
        font-size: 13px;
        padding: 5px;
    }
    .facilities{
        margin-top: 1380px;
    }
    .text-facilities{
        margin-left: -255px;
        
    }
    .text-facilities h2{
        margin-left: -255px;
        font-size: 25px;
        
    }
    .text-facilities p{
        margin-left: -280px;
    }
    /* foooter */
    footer{
        margin-top: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-info{
        font-size: 25px;
        text-align: center;
    }
    .icons{
        display: flex;
        margin-left: 75px !important;
    }
    .author{
        font-size: 15px;
        margin-top: 10px;
        margin-left: 35px;
    }
    .middle h5{
        width: 300px;
        font-size: 25px;
        text-align: center;
        margin-left: 45px;
    }
    .middle p{
        text-align: center;
        margin-left: 45px;
    }
    .full-name{
        display: flex;
        flex-direction: column;
    }
    label{
        text-align: center;
    }
    .search h2{
        margin-top: 55px;
        font-size: 35px;
        margin-left: 45px;
    }
    .search-menu{
        text-align: center;
        color: gray !important;
        font-weight: lighter !important;
    }
    .safety{
        margin-top: 45px;
        
    }
    .safety a{
        font-size: 25px !important;
    }
}


/* about */

@media screen and (max-width: 768px){
    
    .second-page h1{
        font-size: 30px !important;
        width: 265px;
        margin-left: 120px;
        

    }
    .second-page p{
        margin-left: 80px !important;
        width: 350px;
        margin-top: 15px;
        font-size: 25px;
        text-align: center;
    }
    .whydofitness {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .fitnesstext h2{
        margin-top: -105px;
        text-align: center;
    }
    .fitnesstext p{
        text-align: center;
    }
    .rightfit-img{
        margin-left: -75px;
    }
    .leftfit,
    .rightfit {
        width: 100%;
    }

    

    .forsecondpage{
        margin-top: 1000px;
    }

    /* ////// */
   .trainingfloortext{
        margin-top: 5px;
   }
   .trainingfloortext h2{
        margin-left: 85px;
   }
   .trainingfloortext p{
        margin-right: 35px !important;
        text-align: center;
        width: 350px;
       
   }
    .lappool{
        margin-top: 230px !important;
        width: 100%;
    }
    .lappool-text{
        margin-top: 5px;
    
    
    }
    .lappool-text h2{
        align-items: center !important;
        margin-left: 350px;
        width: 400px;
        
    }
    .lappool-text p{
        margin-left: 220px;
        width: 350px;
        text-align: center;
    }
    .membersarea{
        margin-top: 1400px;
    }
    .text-members p{
        margin-left: 65px !important;
        width: 350px;
    }
    .forthirdpage{
        margin-top: 600px;
    }

    /* ///// */
    .services h1{
        font-size: 35px !important;
        text-align: center;
        
    }
    .services p{
        margin-left: 95px;
        width: 300px;
        text-align: center;
        margin-top: 15px;
    }
    .our-services{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        height: inherit;
        width: 450px;
    }
    .services-photo img{
        width: 100%;
        
    }
    .services-text{
        text-align: center;
        margin-left: 5px;
    }
    .services-text button{
        margin-bottom: 15px;
        margin-left: 145px;
    }
    .forforthpage{
        margin-top: 100px;
    }


    /* ///// */
    .div-boxes{
        padding-top: 500px !important;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    }
    .membership h1{
        font-size: 35px !important;
        width: 300px;
        margin-left: 85px;
    }
    .membership p{
        margin-left: 80px;
        width: 300px;
        font-size: 20px;

    }
    .forfifthpage{
        margin-top: 100px;
    }

    /* ///// */
    .login-form{
        margin-top: 100px;
        margin-left: 80px;
        width: 350px;
    }
}
    
